* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.site-container {
  min-height: 100vh;
}

.buttonsDefaultColors {
  background-color: #f0c040;
  color: #000;

  transition: filter 0.2s;
}

.buttonsDefaultColors :hover {
  background-color: #f0c040;
  color: #000;
  filter: brightness(0.9);
}

.buttonsDefaultColors :disabled {
  background-color: #f0c040;
  color: #000;
}
